body{
font-family:arial, helvetica, sans-serif;
}

table {
	border-collapse: collapse;
	font-size:10pt;
	border:1px solid #cccccc;
}
td{
	padding:3px;
	height:25px;
}
th{
	background-color:steelblue;
	color:white;
	height:30px;
}
.btn-delete{
	border:1px solid #db5db59;
	background: #db5db59 url ('hapus.PNG') no-repeat 5px 4px;
	height:22px;
	padding-left:15px;
	padding-top:5px;
}